    </div> <!-- end main content -->
  </div> <!-- end d-flex -->

  <footer class="text-center text-lg-start border-top shadow-sm">
    <div class="container py-3">
      
        <div class="text-muted text-start small">
          <p style="margin-left:28% ; margin-top:15px">© 2025 Hệ Thống Quản Lý Chỗ Ở Du Lịch.  
          Thiết kế & phát triển bởi <strong>Nhóm A+</strong>.</p>
     
        
      </div>
    </div>
  </footer>




  
</body>
</html>
