<!-- <h3>Chat realtime hỗ trợ khách hàng</h3>

<div id="adminChat" style="height:300px;overflow:auto;border:1px solid #ccc"></div>

<input id="reply" class="form-control" placeholder="Nhập trả lời...">
<button onclick="adminSend()" class="btn btn-warning mt-2">Gửi</button>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on("newMessage", msg => {
    const chat = document.getElementById("adminChat");
    chat.innerHTML += `<p><b>${msg.GuiBoi}:</b> ${msg.NoiDung}</p>`;
    chat.scrollTop = chat.scrollHeight;
  });

  function adminSend() {
    socket.emit("adminSend", {
      NoiDung: document.getElementById("reply").value
    });
    document.getElementById("reply").value = "";
  }
</script> -->
